.card-container {
  margin-right: 2vw;
  width: 100%;
}

.card-container:last-child {
  margin-right: 0;
}

.card {
  border: 0.15vw solid #969696;
  background-color: #070726;
  padding: 0.75vw 0;
}

.card:hover {
  background-color: #030318;
}


.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25vw;
  color: #DFDFDF;
}

/* STYLING MODAL COMPONENT */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  margin: 10vw;
}

/* STYLING MY MOADL PAGE */

.modal-page {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 64vw;
  transform: translate(-50%, -50%);
  background-color: #070726;
  border: 0.1vw solid #E2E2E2;
}

.modal-page-content {
  margin: 1.5vw 5vw;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: #E2E2E2 solid 0.15vw;
  padding-bottom: 1.5vw;
  font-size: 2.5vw;
  font-family: 'Noto Sans', sans-serif;
}

.title {
  color: #BF9300;
}

.back {
  color: #939393;
}

.back:hover {
  cursor: pointer;
  color: #E2E2E2;
}

/* MODAL ITEMS */

.project {
  border-bottom: #E2E2E2 solid 0.1vw;
  padding-bottom: 1vw;
}

.project:last-child {
  border: none;
}

.project-title {
  margin-top: 0.75vw;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2vw;
  margin-bottom: 0.5vw;
}

.project-role {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #898989;
  font-size: 1.15vw;
}

.project-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  font-weight: lighter;
}